<p>
  <mat-toolbar color="primary" class="toolbar">
    <span class="header-text">Welcome to Real Estate Agency</span>
    <span class="spacer"></span>
  </mat-toolbar>
</p>
<div>
  <div class="menu-card">

    <button mat-button (click)="addRealEstate()">Add real estate</button>

    <button mat-button (click)="realEstateRequests()">Real estate requests</button>

    <button mat-button (click)="promote()">Promote</button>

    <button mat-button (click)="offers()">Offers</button>

    <button mat-button (click)="statistics()">Statistics</button>

    <button mat-button (click)="changePassword()">Change Password</button>

    <button mat-button (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf='addRealEstateFlag == true'>
  <app-add-estate></app-add-estate>
</div>

<div *ngIf='realEstateRequestsFlag == true'>
  <app-real-estate-requests></app-real-estate-requests>
</div>

<div *ngIf='promoteFlag == true'>
  <app-promote></app-promote>
</div>

<div *ngIf='offersFlag == true'>
  <app-confirm-offers></app-confirm-offers>
</div>

<div *ngIf='statisticsFlag == true'>
  <app-charts></app-charts>
</div>

<div *ngIf='changePassFlag == true'>
  <app-change-password></app-change-password>
</div>


