<mat-card>
<b>Sales percent for agency:</b> {{percent}} %
<br>
<br>
<b>New sales percent:</b>
<br>
<br>
<mat-form-field>
  <input name="confirmPassword" [(ngModel)]='percent' matInput  placeholder="Sales percent" required>

</mat-form-field>
<br>
<button mat-raised-button color='primary' (click)="savePercent()">Save percent</button>
<br>
<br>
<br>
<b>Full income:</b> {{income}}
</mat-card>
<br>
<br>

<div>
  <ng-container *ngFor="let offer of this.allOffers" >
    <mat-card style="margin-right: 15px;" *ngIf='offer.accepted == 2' fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
        <img mat-card-image src={{offer.image}} class="image">
        <mat-card-content><b>Description:</b> {{offer.description}}</mat-card-content>
        <mat-card-content><b>Price:</b> {{offer.price}} &euro; </mat-card-content>
        <mat-card-content><b>Offer given by:</b> {{offer.offerUsername}}</mat-card-content>
        <mat-card-content><b>Owner:</b> {{offer.ownerEstate}}</mat-card-content>
        <mat-card-content><b>Profit:</b> {{offer.price / 100 * percent}}</mat-card-content>
    </mat-card>
  </ng-container>
</div>
