<form (submit)="changePassword()" #registerForm="ngForm" autocomplete="off">
  <mat-form-field>
    <input type="password" name="confirmPassword" [(ngModel)]="oldP" matInput placeholder="Old password"
      #passwordInput="ngModel" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$"
    [(ngModel)]="newP" matInput placeholder="New password" #passwordInput="ngModel" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="password" name="confirmPassword" [(ngModel)]="confirmP" matInput placeholder="Confirm password"
      #passwordInput="ngModel" required>
  </mat-form-field>
  <br>
  <button type="submit" mat-raised-button color='primary'>CHANGE PASSWORD</button>
</form>
