<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"
    *ngFor="let user of this.allUsers">
    <mat-card-title>{{user.name}} {{user.lastName}}</mat-card-title>
    <img mat-card-image src={{user.image}} class="image">
    <mat-card-content>Username: {{user.username}}</mat-card-content>
    <mat-card-content>Email: {{user.email}}</mat-card-content>
    <mat-card-content >City: {{user.city}} </mat-card-content>
    <mat-card-content>State: {{user.state}} </mat-card-content>
    <button mat-raised-button color="primary" (click)="editUser(user)">EDIT</button>
    <button mat-raised-button style="margin-left: 20px;" color="warn" (click)="deleteUser(user)">DELETE</button>
  </mat-card>
</div>

<mat-card *ngIf="editUserFlag == true" style='text-align: center;'>
  <div class="img-preview" *ngIf="previewOfImage !== '' && previewOfImage">
    <img [src]="previewOfImage" [alt]="text">
  </div>
  <form (submit)="changePersonalInfo(changeForm)" #changeForm="ngForm" autocomplete="off">
    <mat-form-field>
      <input  matInput name="name" [(ngModel)]='user.name' ngModel placeholder="Name" #nameInput="ngModel" required >
    </mat-form-field>
    <mat-form-field>
      <input  matInput name="lastName" [(ngModel)]='user.lastName' placeholder="Last name" #lastNameInput="ngModel" required>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Change image</button>
      <input style="visibility: hidden;" type="file" #filePicker (change)="pickImage($event)">
    </div>

    <mat-form-field>
      <input type="email" name="email" [(ngModel)]='user.email' matInput  placeholder="Email adress" #emailInput="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input name="city" [(ngModel)]='user.city' matInput  placeholder="City" #cityInput="ngModel" required>
    </mat-form-field>
    <mat-form-field>
      <input name="state" [(ngModel)]='user.state' matInput  placeholder="State" #stateInput="ngModel" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Change info</button>
  </form>
</mat-card>
